{% extends 'base.html' %}

{% block title %} Identity Settings {% endblock %}
{% load static %}
{% load compress %}
{% block additional_js %}
    {% compress js %}
    <script type="module" src="{% static 'verify_address.js' %}"></script>
    {% endcompress %}
{% endblock %}
{% block content %}
    <p>Id: <span id="user-id">{{ identity.id }}</span></p>
    <p>Username: {{ user.username }}</p>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Mail: {{ user.email }}</p>
    {% if identity.blockchain_address %}
        <p>Blockchain address: {{ identity.blockchain_address }}</p>
    {% else %}
        <p>Blockchain address: <button id="blockchain-account-authorize">Link blockchain account</button></p>
    {% endif %}
{% endblock %}