{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

{% block additional_js %}
    {% compress js %}
        <script type="module" src="{% static 'send_new_files.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <br>
    <h3>Select files from the list for next version of <a href="{% url "documents:doc" doc.index %}"> document <span id="document-id-data">{{ doc.index }}</span></a></h3>
    <form id="select-files-form" class="form-check form-switch">
        {% for file in files %}
            <input class="form-check-input" type="checkbox"  id="{{ file.0.fileHashBase16 }}" {% if file.1 %} checked {% endif %} {% if not can_edit %}disabled{% endif %}>
            <label class="form-check-label" for="{{ file.0.fileHashBase16 }}"><a href="{% url 'documents:get_file' doc.index file.0.fileHashBase16 %}">{{ file.0.name }}</a>
            {% if file.0.ackTxHash != "" %} <a href="https://hoszowski-inzynierka.pl:26657/tx?hash=0x{{ file.0.ackTxHash }}"> Acknowledge tx </a>
            {% else %} Acknowledge transaction is being processed. {% endif %}</label>
            <br>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Choose files" {% if not can_edit %}disabled{% endif %}>
    </form><br><br>
    {% if can_edit %}
    <h3>Submit new files</h3>
        <form method="post" enctype=multipart/form-data>
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_files" class="form-label">Multiple files input example</label>
              <input class="form-control" type="file" name="files" id="id_files" multiple>
            </div>
            <input type="submit" class="btn btn-primary" value="Upload">
        </form>
    {% endif %}
{% endblock %}