{% extends 'base.html' %}

{% block title %} {{ doc.name }} {% endblock %}
{% load static %}
{% load compress %}
{% block additional_js %}
    {% compress js %}
    <script type="module" src="{% static 'document_actions.js' %}"></script>
    {% endcompress %}
{% endblock %}
{% block css %}
       <link rel="stylesheet" type="text/css" href="{% static 'document.css' %}">
{% endblock %}

{% block content %}
    <form method="POST"><div class="input-group mb-3">
        {% csrf_token %}
        <input class="form-control doc-name-input" name="new-name" maxlength="45" value="{{ doc.name }}">
        <input type="submit" hidden>
    </div></form>
    {% if can_add_user %}
        <script id="can-change-role" type="text/plain"></script>
    {% endif %}
    <div id="doc-id"> <span class="key"> Document Id: </span> <span id="document-id-data">{{ doc.doc.index }}</span></div>
    <div id="state"><span class="key">State: </span><span id="state-data">{{ doc.doc.state }}</span></div>
    <div id="height"><span class="key">Last edit height: </span><span id="height-data">{{ doc.doc.lastEditHeight }}</span></div>
    <div id="update-time"><span class="key">Last update time: </span>  <span id="update-time-data">{{ doc.doc.updatedAt }}</span></div>

    <div id="files">
        <table id="files-table" class="table">
            <thead>
                <tr><th>Files <a href="{% url 'documents:doc_files' doc.doc.index %}" style="float: right"><button class="btn btn-link">{% if can_edit %}Edit files{% else %}Other files{% endif %}</button></a> </th></tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr><td name="document-file"><a href="{% url 'documents:get_file' doc.doc.index file.1%}">{{ file.0 }}</a> <span style="float: right">0x{{ file.1 }}</span></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if can_sign %}
        <button class="remove-from-role btn btn-info btn-sm" id="sign-button">Sign</button>
        <button class="add-to-role btn btn-danger btn-sm" id="reject-button" {% if doc.doc.state != "Signing" %}disabled{% endif %}>Reject version</button>
    {% endif %}
    <div id="roles">
        <table id="admins-table" class="table">
            <thead>
                <tr><th>Admins
                    {% if can_add_user %}
                        <button class="role-btn remove-from-role btn btn-danger btn-sm" name="admin">Send remove transaction with marked users</button>
                        <button class="role-btn add-to-role btn btn-info btn-sm" name="admin">Send add to role transaction</button>
                    {% endif %}
                </th></tr>
            </thead>
            <tbody id="role-table-body-admin">
                {% for person in roles.admins %}
                    {% if person.blockchain_address %}
                        <tr><td class="existing-role">
                            <a href="{% url "identity:identity" document_index=doc.doc.index address=person.blockchain_address %}"> {{ person.name }} </a>
                            <span name="blockchain-address">{{ person.blockchain_address }}</span>
                        </td></tr>
                    {% else %}
                        <tr><td class="existing-role"><span name="blockchain-address">{{ person }}</span></td></tr>
                    {% endif %}
                {% endfor %}
                <tr class="new-role"><td class="input-group mb-3"><input class="address-input form-control" name="admin-input" maxlength="45"><button class="expand-role btn btn-outline-secondary" name="admin">+</button></td></tr>
            </tbody>
        </table>
        <table id="editors-table" class="table">
                <tr><th>Editors
                    {% if can_add_user %}
                        <button class="role-btn remove-from-role btn btn-danger btn-sm" name="editor">Send remove transaction with marked users</button>
                        <button class="role-btn add-to-role btn btn-info btn-sm" name="editor">Send add to role transaction</button>
                    {% endif %}
                </th></tr>
            <tbody id="role-table-body-editor">
                {% for person in roles.editors %}
                    {% if person.blockchain_address %}
                        <tr><td class="existing-role">{{ person.name }} <span name="blockchain-address">{{ person.blockchain_address }}</span></td></tr>
                    {% else %}
                        <tr><td class="existing-role"><span name="blockchain-address">{{ person }}</span></td></tr>
                    {% endif %}
              {% endfor %}
                <tr class="new-role"><td class="input-group mb-3"><input class="address-input form-control" name="editor-input" maxlength="45"><button class="expand-role btn btn-outline-secondary" name="editor">+</button></td></tr>
            </tbody>

        </table>
        <table id="viewers-table" class="table">
                <tr><th>Viewers
                    {% if can_add_user %}
                        <button class="role-btn remove-from-role btn btn-danger btn-sm" name="viewer">Send remove transaction with marked users</button>
                        <button class="role-btn add-to-role btn btn-info btn-sm" name="viewer">Send add to role transaction</button>
                    {% endif %}
                </th></tr>
            <tbody id="role-table-body-viewer">
                {% for person in roles.viewers %}
                     {% if person.blockchain_address %}
                        <tr><td class="existing-role">{{ person.name }} <span name="blockchain-address">{{ person.blockchain_address }}</span></td></tr>
                    {% else %}
                        <tr><td class="existing-role"><span name="blockchain-address">{{ person }}</span></td></tr>
                    {% endif %}
                {% endfor %}
                <tr class="new-role"><td class="input-group mb-3"><input class="address-input form-control" name="viewer-input" maxlength="45"><button class="expand-role btn btn-outline-secondary" name="viewer">+</button></td></tr>
            </tbody>
        </table>

        {% if doc.doc.state != "Signed" %}
            <table id="signers-table" class="table">
                <thead>
                    <tr><th>{% if doc.doc.state != 'Editing' %} Remaining signers {% else %} Signers {% endif %}
                        {% if can_add_user %}
                            <button class="role-btn remove-from-role btn btn-danger btn-sm" name="signer">Send remove transaction with marked users</button>
                            <button class="role-btn add-to-role btn btn-info btn-sm" name="signer">Send add to role transaction</button>
                        {% endif %}
                    </th></tr>
                </thead>
                <tbody id="role-table-body-signer">
                    {% for person in roles.remaining_signers %}
                        {% if person.blockchain_address %}
                            <tr><td class="existing-role">{{ person.name }} <span name="blockchain-address">{{ person.blockchain_address }}</span></td></tr>
                        {% else %}
                            <tr><td class="existing-role"><span name="blockchain-address">{{ person }}</span></td></tr>
                        {% endif %}
                    {% endfor %}
                    {% if doc.doc.state == 'Editing' %}
                        <tr class="new-role"><td class="input-group mb-3"><input class="address-input form-control" name="signer-input" maxlength="45"><button class="expand-role btn btn-outline-secondary" name="signer">+</button></td></tr>
                    {% endif %}
                </tbody>
            </table>

        {% endif %}
        {% if doc.doc.rejection_reason != '' %}
            <span>Rejection reason: doc.doc.rejection_reason</span>
        {% elif doc.doc.state != 'Editing' %}
            <table id="signers-table" class="table">
                <thead>
                    <tr><th>Signed</th></tr>
                </thead>
                <tbody>
                    {% for person in roles.signed %}
                        {% if person.blockchain_address %}
                            <tr><td class="existing-role-signed">{{ person.name }} <span name="blockchain-address">{{ person.blockchain_address }}</span></td></tr>
                        {% else %}
                            <tr><td class="existing-role-signed"><span name="blockchain-address">{{ person }}</span></td></tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div>
        <h3>Events</h3>
        {% for event in events %}
            <div class="event-div border border-2">
                <span class="key">Transaction hash</span>: <span class="value"> 0x{{ event.txHash }}</span>
                <br><span class="key">Block date</span>: <span class="value"> {{ event.date }}</span>
                {% for attr in event.attr %}
                    {% if attr.0 != "document-id" %}
                        <br><span class="key">{{ attr.0 }}</span>: <span class="value"> {{ attr.1 }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <br><br><br><br><br><br><br>
{% endblock %}