.address-input{
    width:400px;
}

.to-delete{
    color: red;
    border-left: red 3px solid !important;
}

.existing-role{
    border-left: transparent 3px solid;
}

.existing-role{
    cursor: pointer;
}

.event-div{
    border-style: ridge;
    margin: 5px;
    padding:3px;
    border-radius:20px;
    word-break: break-all
}

.key{
    font-weight: bold;
}

.role-btn{
    float: right;
    margin-left: 5px;
}

table{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 12px !important;
}

td{
    margin-bottom: 0px !important;
}

tr{
    margin-bottom: 0px !important;
}

tbody > tr:last-child > td {
  border-bottom: none !important;
}

.input-group{
    margin-bottom: 0px !important;
}